h1 {
  font-size: 65px;
  text-align: left;
}
h2 {
  font-size: 35px;
}
h3 {
  font-size: 65px;
}
li {
  text-align: center;
}
p {
  text-align: left;
}
button {
  margin: 10px;
}
footer {
  text-align: center;
  font-size: 14px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}
.row {
  padding: 20px;
}
#weather-symbol {
  font-size: 20px;
}
